
.outer-container {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-content: center;
    justify-content: center;
    max-width: 500px;
    flex-direction: column;
}

.item {
    background-color: #d5d5d5;
    border-radius: 5px;
    padding: 6px
}

.avi {
    width:250px;
    height:250px;
    background-image: url('https://raydredstudios.com/raydredStudiosLogo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.debug{
    border: 2px solid red;
}
